<!doctype html>
<html lang="en" ng-app="localstorageSaverApp">
<head>
    <title>LocalStorage Saver</title>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
    <script src="popup.js"></script>
</head>
<body ng-controller="PopupController">
    <div class="container">
        <div class="row controls">
            <div class="col-lg-12">
                <div class="btn btn-success">
                    <a class="save-btn" ng-click="saveStorageState()">Save</a>
                </div>
            </div>
            <!-- <div class="col-lg-12">
                <a ng-click="clearStorage()">clear storage</a>
            </div> -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p><strong>Local Storage Used:</strong></p>
            </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped local-storage-percentage" style="width: {{localStorageUsed}}%">
          </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p><strong>Session Storage Used:</strong></p>
            </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped session-storage-percentage" style="width: {{sessionStorageUsed}}%">
          </div>
        </div>

        <!-- if results -->
        <div class="row header" ng-hide="!savedStates.length">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <p>Label</p>
            </div>
            <div class="col-xs-4">
                <p>Delete</p>
            </div>
        </div>

        <div class="row item" ng-repeat="state in savedStates" ng-hide="!savedStates.length">
            <div class="col-xs-4">
                <a ng-click="apply(this)">Apply</a>
            </div>
            <div class="col-xs-4">
                <a ng-click="promptRename(state.internalID)" ng-show="!state.renaming">{{state.label}}</a>
                <input type="text"
                    ng-model="state['edited_label']"
                    ng-show="!!state.renaming"
                    ng-keydown="rename(this)" >
            </div>
            <div class="col-xs-4">
                <a ng-click="deleteState(state.internalID)">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </a>
            </div>
        </div>

        <div class="row no-results" ng-hide="savedStates.length > 0">
            <div class="col-lg-12">
                <p><strong>Nothing Saved</strong></p>
            </div>
        </div>

    </div>

</body>
</html>
